repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0"
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.6.1

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.4.1"
    hooks:
      - id: editorconfig-checker
        alias: ec
