/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

modules_testdata_base_path = projectDir + '/tests/test_data/'
pipelines_testdata_base_path = projectDir + '/tests/test_data/'

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }
}
