/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

modules_testdata_base_path = projectDir + '/tests/test_data/'
pipelines_testdata_base_path = projectDir + '/tests/test_data/'
