/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CAPHEINE Nextflow hyphy config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A config file with resource allocation tailored for hyphy analyses. Appropriate 
    for general use on most high performance compute environments. Assumes that all 
    software is installed and available on the PATH. Runs in `local` mode - all jobs 
    will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    withName:HYPHY_FEL {
        cpus   = { 8                   }
        memory = { 6.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
    withName:HYPHY_MEME {
        cpus   = { 8                   }
        memory = { 6.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
    withName:HYPHY_PRIME {
        cpus   = { 8                   }
        memory = { 6.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
    withName:HYPHY_BUSTED {
        cpus   = { 8                   }
        memory = { 6.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
    withName:HYPHY_CONTRASTFEL {
        cpus   = { 8                   }
        memory = { 6.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
    withName:HYPHY_RELAX {
        cpus   = { 8                   }
        memory = { 6.GB * task.attempt }
        time   = { 8.h  * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
}
