/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run CAPHEINE -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 4
        memory = 3.GB
        time   = 2.h
    }
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    reference_genes = 'https://raw.githubusercontent.com/veg/CAPHEINE/refs/heads/dev/tests/test_data/pretend_DENV1_ref.fasta'
    unaligned_seqs = 'https://raw.githubusercontent.com/veg/CAPHEINE/refs/heads/dev/tests/test_data/pretend-raw-seqs.fasta'
    outdir = "."
}
